/*  .paging a {
        color: black;
        float: left;
        padding: 12px 18px;
        text-decoration: none;
    }
    .paging a.active {
        background-color: dodgerblue;
        color: white;
        border-radius: 50%;
    }

    .paging a:hover:not(.active) {
        background-color: #ddd;
        border-radius: 50%;
    }  */